<div class="right-side-bar" id="right-bar">
    <div class="well sidebar-well">

        <!--<h4>Chat</h4>-->



        <!--<div class="well question-well">-->
            <span class="comment_text" style="font-size: 12px; color: #0000ff;">
            Jesse:</span>
            <span class="comment_text" style="font-size: 11px; color: #000000;">
                This is sooo great!!
            </span>
        <!--</div>-->
<br/>
        <!--<div class="well question-well">-->
            <span class="comment_text" style="font-size: 12px; color: #0000ff;">
            Student 1:</span>
            <span class="comment_text" style="font-size: 11px; color: #000000;">
                What if we have an instance variable that is not attached to any instances of a class. Like, it's just floating out there in the ether with no home. Wouldn't it get lonely? I mean, I know that variables can be hip n' all, but this just seems really crazy to think about.
            </span>
        <!--</div>-->
<br/>
        <!--<div class="well question-well">-->
            <span class="comment_text" style="font-size: 12px; color: #0000ff;">
            Jesse:</span>
            <span class="comment_text" style="font-size: 11px; color: #000000;">
                This is sooo great!! This is sooo great!! This is sooo great!! This is sooo great!! This is sooo great!! This is sooo great!! This is sooo great!!
            </span>
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="well question-well">-->
            <!--<span class="comment_text" style="font-size: 12px; color: #0000ff;">-->
            <!--Jesse:</span>-->
            <!--<span class="comment_text" style="font-size: 11px; color: #000000;">-->
                <!--This is sooo great!!-->
            <!--</span>-->
        <!--</div>-->

        <hr/>

        <form action="#" method="post">
            <input type="password" id="PasswordInput" name="PasswordInput" autofocus spellcheck="true"/>
            <input type="submit" value="Chat"/>
        </form>

    </div>


</div>


</div>
</div>