<div class="well lecture-section-well">
    <h1>{{ content.title }}</h1>
</div>

{{#if content.due_date}}
    <div class="well lecture-section-well">
        <h3>Due: {{ content.due_date }}</h3>
    </div>
{{/if}}

{{>content}}
