{{#if user}}
    <div class="well lecture-section-well">
        <h4>Logged in as {{user.username}}</h4>
    </div>
{{else}}

    <div class="well lecture-section-well">

        <p>Forgot password? Enter your @buffalo.edu email address</p>
        <form action="/user/forgot-password" method="post">
            <div>
                <label>Email:</label><br/>
                <input type="text" name="email"/>
            </div><br/>
            <div>
                <input type="submit" value="Submit"/>
            </div>
        </form>

    </div>
{{/if}}